.linerContact{
    height: 2px;
    background: #22c222;
    position: absolute;
    width: 15%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 13%;
    z-index: -1;
    margin-left: 25%;
}


