<div class="container board-inner" id="status-buttons">
    
    <ul class="nav nav-tabs" id="myTab">
        <div class="linerContact"></div>
                    
        <!-- circular user icon -->
        <li>
            <a  data-toggle="tab" title="Personal Details">
                <span class="round-tabs one">
                    1
                </span>
                Personal Details
            </a>
        </li>

        <!-- circular tasks icon -->
         <li>
            <a  data-toggle="tab" title="Contact Details">
                <span class="round-tabs">
                    2
                </span> 
                Contact Details
            </a>
        </li>

        <!-- circular home icon -->
        <li>
            <a  data-toggle="tab" title="Skills">
                <span class="round-tabs three">
                    3
                </span>
                Skills
            </a>
        </li>

        <!-- circular ok icon -->
        <li>
            <a  data-toggle="tab" title=" Work Experince">
                <span class="round-tabs four">
                   4
                </span>
                Work Experince
            </a>
        </li>
                
    </ul>
    <div class="clearfix"></div>
</div>

<div class="container personal">
    <div>
        
    </div>
    <div class="personal-section">
        <h1>Congratulations!</h1>
        <div class="form-section">
            
            <p>
              Your profile has been successfully created
            </p>

          </div>
          <div class="button-section">
            <a type="button" class="btn-danger" routerLink="/">Close</a> 
           
          </div>
    </div>
</div>

